$light-purple: #e26fda;
$purple: #9353dd;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$light-green: #99E2D0;
$green: #008766;
$white: #f3f3f3;
$grey: #eaeaea;
$dark-grey: #bdbdbd;

$secondary-bg: #f6f6f6;
$secondary-font: #353535;
$secondary-font2: #7e7e7e;


$menu-font : "Shrikhand", serif;