@charset "UTF-8";
p, h1, h2, h3, .card-badge:hover {
  cursor: default;
}

/******* mobile version 320px-768px*******/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/******* header *******/
#header-img {
  display: flex;
  justify-content: center;
}

#header-img img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 162px;
}

/******* location *******/
#location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 7px;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 5px -3px #bdbdbd, 0 7px 5px -3px #bdbdbd;
  color: #353535;
}

#location input {
  margin-left: 15px;
  width: 120px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #353535;
}

#location input:focus {
  outline: none;
}

/******* information *******/
#informations {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}

#exploration-txt {
  margin-top: 20px;
  margin-bottom: 10px;
}

#exploration-txt h1 {
  padding: 0 40px;
}

#exploration-txt p {
  padding: 0 40px;
  font-weight: 300;
  font-size: 16px;
}

#exploration-btn {
  position: relative;
  width: 218px;
  padding: 15px 0;
  margin-bottom: 50px;
  border-radius: 40px;
  box-shadow: 0 5px 5px -3px #bdbdbd;
  color: white;
  background: linear-gradient(#e26fda, #a15adb);
  cursor: pointer;
  transition: opacity 300ms ease-in-out, box-shadow 250ms ease-in-out;
  /******* animation étape 3 *******/
}
#exploration-btn:hover::after {
  content: "";
  border-radius: 40px;
  transition: opacity 300ms ease-in-out, box-shadow 200ms ease-in-out;
}
#exploration-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px 0 rgba(66, 66, 66, 0.5);
}

/******* fonctionnement *******/
#fonctionnement {
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

#fonctionnement h2 {
  margin-left: 18px;
  margin-bottom: 30px;
}

#f-container {
  display: flex;
  flex-direction: column;
}

.fonctionnement-element {
  display: flex;
  margin: 20px;
  width: 90%;
  height: 75px;
  margin-left: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 10px -5px #bdbdbd;
}

.f-card-number {
  display: flex;
  position: relative;
  align-items: center;
  left: -10px;
}

.card-number-content {
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 40px;
  background-color: #9356dc;
  color: white;
  text-align: center;
  font-size: 14px;
}

.f-card-content {
  display: flex;
  align-items: center;
}

.f-card-content p {
  padding: 20px 20px 20px 10px;
  font-weight: 500;
}

.f-card-content i {
  margin-left: 10px;
  color: #7e7e7e;
}

#f-element-3 i {
  color: #9356dc;
}

/******* restaurants *******/
#restaurants {
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: #f6f6f6;
}

#restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restaurants h2 {
  margin-left: 18px;
}

.r-card {
  margin-bottom: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.r-card .image-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.r-card-img {
  width: 100%;
}

.r-card .card-content {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r-card .card-content h3 {
  margin-bottom: 0;
}

.r-card .card-content p {
  margin-top: 5px;
}

.heart {
  margin-right: 20px;
  width: 24px;
  height: 22px;
  background-image: url("../../assets/images/heart.png");
  background-size: cover;
  cursor: pointer;
}

.filled {
  background-image: url("../../assets/images/color-heart.png");
}

.card-badge {
  padding: 7px 12px 5px 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
}

/******* footer *******/
footer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 20px 20px;
  background-color: #353535;
  color: white;
}

footer img {
  margin-bottom: 15px;
  width: 100px;
  filter: invert(100%);
}

#footer-content {
  display: flex;
  flex-direction: column;
}

footer .fa-sharp {
  margin-right: 12px;
}

footer .fa-handshake-angle {
  margin-right: 8px;
}

#content-1 p, #content-2 p {
  margin-top: 0;
  margin-bottom: 8px;
}

/******* mobile version 768px-1024px*******/
@media (min-width: 768px) {
  /******* header *******/
  #header-img img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15%;
  }
  /******* location *******/
  #location {
    margin-bottom: 0;
    box-shadow: none;
  }
  #exploration-txt {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #exploration-txt h1 {
    font-size: 30px;
  }
  #exploration-txt p {
    font-size: 14px;
  }
  /******* fonctionnement *******/
  #fonctionnement {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #fonctionnement h2 {
    margin-left: 5%;
  }
  #f-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-left: 5%;
    margin-right: 5%;
  }
  .fonctionnement-element {
    width: 40%;
  }
  /******* restaurants *******/
  #restaurants {
    padding-bottom: 0;
  }
  #restaurants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #restaurants h2 {
    margin-left: 5%;
  }
  .r-card {
    width: 40%;
    margin-bottom: 50px;
  }
  /******* footer *******/
  footer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px 0 10px 0;
  }
  footer img {
    order: 3;
    padding-right: 30px;
    padding-left: 40px;
    filter: invert(100%);
  }
  #footer-content {
    flex-direction: row;
  }
  #content-1, #content-2 {
    display: flex;
    flex-direction: row;
  }
  #content-1 {
    order: 1;
    margin-right: 20px;
  }
  #content-2 {
    order: 2;
    opacity: 0.8;
  }
  #content-1 p, #content-2 p {
    margin-right: 10px;
  }
  footer .fa-sharp, .fa-handshake-angle {
    margin-right: 8px;
  }
  /******* mobile version 1024px-1280px*******/
}
@media (min-width: 768px) and (min-width: 1024px) {
  /******* exploration *******/
  #exploration-txt p {
    font-size: 18px;
  }
  footer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 60px 0 10px 0;
  }
  footer img {
    order: 3;
    padding-right: 60px;
    padding-left: 80px;
    filter: invert(100%);
  }
  #footer-content {
    flex-direction: row;
  }
  #content-1, #content-2 {
    display: flex;
    flex-direction: row;
  }
  #content-1 {
    order: 1;
    margin-right: 20px;
  }
  #content-2 {
    order: 2;
    opacity: 0.8;
  }
  #content-1 p, #content-2 p {
    margin-right: 10px;
  }
  footer .fa-sharp, .fa-handshake-angle {
    margin-right: 8px;
  }
}

/*# sourceMappingURL=homepage-style.css.map */
